<div class="main-wrapper" fxLayout="row">
  <h1>𝕊</h1>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Welcome back</mat-card-title>
    </mat-card-header>
    <form [formGroup]="form">
      <mat-card-content>
        <div *ngIf="form.controls['email'].hasError('notUnique')">
          The email address is already in use
        </div>
        <mat-form-field appearance="outline">
          <mat-label>Enter your username</mat-label>
          <input type="email" matInput formControlName="email" />
        </mat-form-field>

        <div *ngIf="form.controls['password'].hasError('incorrect')">
          The password is invalid
        </div>
        <mat-form-field appearance="outline">
          <mat-label>Enter your password</mat-label>
          <input matInput type="password" formControlName="password" />
        </mat-form-field>
      </mat-card-content>
      <div class="buttonSection">
        <button (click)="login(form.get('email').value, form.get('password').value)" mat-raised-button>Log in</button>
        <button (click)="loginGoogle()" mat-raised-button>Log in via Google</button>
      </div>
    </form>
  </mat-card>
</div>
